html, body {
    margin: 0;
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: aquamarine;
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 15%;
    background-color: aqua;
    padding: 10px 20px 0px;
}
.header {
    background-color: lightgreen;
    min-height: 150px;
}

img {
    width: 100%;
}

.content {
    background-color: white;
    min-height: 300px;
    padding: 20px;
}

table {
    border: solid 1px black;
}

table, td, th{
    padding: 10px;
    border: solid 1px black;
    border-collapse: collapse;
}

form {
    margin: 2%;
}

form > input, label {
    margin: 5px 5px ;
}
button {
    margin-right: 50px;
}

.footer li {
    list-style-type: none;
}
.footer {
    text-align: center;
    background-color: lightgreen;
    min-height: 150px;
}